<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Ing. Jarib Soriano</title>
		<meta name="description" content="Jaribvb CV" />
		<meta name="keywords" content="HTML5, CSS, PHP, CV, "/>
		<meta name="author" content="JaribVB"/>

		<!--Favicon-->
		<link rel="shortcut icon" href="favicon_1.png">
		<link rel="icon" href="favicon_1.png" type="image/x-icon">

		<!--Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Hind:400,500,300,600' rel='stylesheet' type='text/css'>

		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body id="body" data-ng-app="contactApp">

		<!--Fixed Bg Image-->
		<div class="fixed-bg"></div>
		<div class="fixed-bg-overlay"></div>
		<!--/Fixed Bg Image-->

		<!--Preloader-->
		<div id="pre_load" class="preloader-it">
			<div id="la_anim" class="la-anim-1"></div>
		</div>
		<!--/Preloader-->

		<!--Container-->
		<div class="container-fluid">
			<div class="row">
				<div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">

					<!--Navigation-->
					<nav class="navbar navbar-default vertical-nav" role="navigation">
						<div class="navbar-header">
							<button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse"
								data-target="#navbar_collapse">
							<span class="mask"></span>
							<span class="btn-label">
							<span class="pe-7s-menu"></span>
							</span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="navbar_collapse">
							<ul class="nav navbar-nav">
								<li><a data-scroll href="#body"></a><span>Yo</span></li>
								<li><a data-scroll href="#services_sec"></a><span>Servicios</span></li>
								<li><a data-scroll href="#skill_sec"></a><span>Habilidades</span></li>
								<li><a data-scroll href="#work_sec"></a><span>Trabajos</span></li>
								<li><a data-scroll href="#edu_sec"></a><span>Educación</span></li>
								<li><a data-scroll href="#exp_sec"></a><span>Experiencia</span></li>
								<li><a data-scroll href="#client_sec"></a><span>Clientes</span></li>
								<li><a data-scroll href="#achivement_sec"></a><span>Logros</span></li>
								<li><a data-scroll href="#contact_sec"></a><span>Contacto</span></li>
							</ul>
						</div>
					</nav>
					<!--/Navigation-->

				</div>
				<div class="col-lg-8 col-xs-12 pad-zero">

					<!--Header-->
					<header>
						<div class="header-wrap col-lg-10 center-div">
							<div class="float-left name">
								<a data-scroll href="#body">
								<span>
								Neftalí Jarib Soriano Martínez
								</span>
								</a>
							</div>
							<div class="float-right social-download-wrap">
								<a href="CV_Ing.Jarib Soriano_CDMX1.pdf" class="btn btn-default float-left">
								<span class="mask"></span>
								<span class="btn-label">
								<b>Descargar CV</b>
								<span class="icon pe-7s-download"></span>
								</span>
								</a>
							</div>
						</div>
						<div class="clearfix"></div>
					</header>
					<!--/Header-->

					<!--Main Content-->
					<div id="main_content" class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50">

						<!--Introduction Sec-->
						<section id="intro_content_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad">
							<div class="person-img margin-bottom-xs"></div>
							<h1>
								¡Hola!<span id="typed"></span>
							</h1>
							<h6>
                                ¿Cómo me defino como persona?
							</h6>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								Me encantaría tener la oportunidad de ayudarlo a usted y a su equipo a resolver sus problemas más desafiantes. Usando tecnologías que he aprendió con el pasar del tiempo durante mi trayecto laborar o aprendiendo con ustedes.
							</p>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								Soy Fan de aprender e interactuar con las nuevas <a class="goto-social" href="#" target="_blank">tecnologias</a> y <a href="#" class="goto-social" target="_blank">mejorandome día a día</a>. estas son las habilidades que he aprendido con el pasar el tiempo <a class="goto-social" href="#" target="_blank">saludos.</a>
							</p>
						</section>

						<!--/Introduction Sec-->

						<hr class="separater-hr"/>

						<!--WhatWeDo Sec-->
						<section id="services_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>¿En qué te puedo ayudar?</h6>
							<div class="row">
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay="0s">
									<span class="icon pe-7s-graph3"></span>
									<span class="key-fact">
									ANÁLISIS
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".1s">
									<span class="icon pe-7s-browser"></span>
									<span class="key-fact">
									PROGRAMACIÓN
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".2s">
									<span class=" icon pe-7s-tools"></span>
									<span class="key-fact">
									DISEÑADOR
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".3s">
									<span class="icon pe-7s-note2"></span>
									<span class="key-fact">
									DOCUMENTACIÓN
									</span>
								</div>
							</div>
						</section>
						<!--/WhatWeDo Sec-->

						<hr class="separater-hr"/>

						<!--Skills Sec-->
						<section id="skill_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>Habilidades Técnicas</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">Como desarrollador, huí de un camino tradicional y exploré mi creatividad, probando varias técnicas y software. El software es más que una simple herramienta y trato de profundizar en él. Hoy en día, tengo habilidad para el pensamiento crítico, la empatía y la creatividad para crear soluciones viables e impactantes utilizando estas tecnologías.</p>
							<div class="row margin-top-40">
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">HTML5, CSS , JavaScrip, php, mysql</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="97">
												<strong><i>97</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Windows server, linux, mac -OS, android, git, github </span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="98">
												<strong><i>98</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">WORDPRESS, SHOPIFY, prestashop</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="90">
												<strong><i>90</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Adobe Creative, Office 365,Trello, WorkSpace</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="90">
												<strong><i>90</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">GOOGLE ADS, Facebook bussines, intagram bussines, hootsuite</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="86">
												<strong><i>86</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">c++, c#, python</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<div class="bar-wrap">
													<span data-width="70">
													<strong><i>70</i>%</strong>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</section>
						<!--/Skills Sec-->

						<hr class="separater-hr"/>

						<!--Work Sec-->
						<section id="work_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div work-wrap  sec-pad">
							<h6>MIS TRABAJOS</h6>
							<div  class="portfolio-wrap project-gallery padding-sec-lg">
								<ul id="portfolio" class="portf auto-construct  project-gallery" data-col="2">
									<li  class="item"   data-src="img/seicecom.png" data-sub-html="<h6>DESIGN LAB</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" >
										<a href="">
										<img class="img-responsive" src="img/seicecom.jpg"  alt="Image description" />
										<span class="hover-cap" >seice.com.mx</span>
										</a>
									</li>
									<li class="item" data-src="img/seicemx.png" data-sub-html="<h6>UX PLATFORM</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
										<img class="img-responsive" src="img/seicemx.jpg"  alt="Image description" />
										<span class="hover-cap">seice.mx</span>
										</a>
									</li>
									<li class="item" data-src="img/bkbarberia.png" data-sub-html="<h6>UX PLATFORM</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
										<img class="img-responsive" src="img/bkbarberia.jpg"  alt="Image description" />
										<span class="hover-cap">bkbarberia.com</span>
										</a>
									</li>
									<li class="item" data-src="img/rolimkt.png" data-sub-html="<h6>UX PLATFORM</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
										<img class="img-responsive" src="img/roli.jpg"  alt="Image description" />
										<span class="hover-cap">rolimarketing.com</span>
										</a>
									</li>
									<li class="item" data-src="img/femeback.png" data-sub-html="<h6>FALL/WINTER</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
										<img class="img-responsive" src="img/femeback.jpg"  alt="Image description" />
										<span class="hover-cap">Femeback.com.mx</span>
										</a>
									</li>
									<li class="item" data-src="img/hierbabuena.png" data-sub-html="<h6>FALL/WINTER</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
										<img class="img-responsive" src="img/hierbabuena.jpg"  alt="Image description" />
										<span class="hover-cap">Hierbabuena.com</span>
										</a>
									</li>
								</ul>
								<!-- Hidden video div -->
								<div style="display:none;" id="video1">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
										<source src="videos/video1.mp4" type="video/webm">
										<source src="videos/video1.webm" type="video/webm">
										Your browser does not support HTML5 video.
									</video>
								</div>
							</div>
						</section>
						<!--/Work Sec-->

						<hr class="separater-hr"/>

						<!--Qualfication Sec-->
						<section id="edu_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div education-wrap  sec-pad">
							<h6>!DONDE ESTUDIE¡</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								Descubrí mi pasión hacia la tecnología cuando estuve en la secundaria, desde ese entonces comenzó mi viaje para una carrera que nunca terminara el conocimiento hacia la Informática en general termine mi Secundaria, Medio superior y realice mi Ingeniería basándome en lo que más me apasionaba yo creo que uno nunca debe dejar de aprender y pasar por un proceso de adquisición de conocimientos.
							</p>
							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>1</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2012-2016</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Universidad Politécnica del Valle de México </span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Ingenieria en Informatica
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>2</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2005-2008</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">CONALEP Nezahualcóyotl III</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Profesional Técnico Bachiller en Informatica
										</span>
									</div>
								</div>
								<!--<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>3</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2000-2004</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Secundaria Técnica N° 52 Luis Á. Barret</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Web Design Diploma
										</span>
									</div>
								</div>-->
							</div>
						</section>
						<!--/Qualfication Sec-->

						<hr class="separater-hr"/>

						<!--Experience Sec-->
						<section id="exp_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
							<h6>Experiencia</h6>
							<div class="exp-timeline-wrap">
								<div class="row exp-timeline timeline-active">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>2016 - Actualidad</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Consultores Especializados SEICE S.A. de C.V.</span>
													<span class="job-loc">soporte. diseño web, e-commerce, marketing digital</span>
													
													<p class="job-summary p-small"> Las actividades que me desempeñe en la agencia fue el diseño de website, creación de base de datos, seguridad
													informática, campañas en redes sociales y en Google AdWords para postular los sitios web en primer lugar de búsquedas.
													creación de portales para recopilación y reporte de fotos, desarrollo, mantenimiento y monitoreo de E-commerce,
													conocimiento básico de edición de videos. También me desarrolle como coordinador en proyectos de marketing digital
													durante campañas políticas, de empresas públicas y privadas.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
												<div class="col-sm-3 duration"><span>2014 — 2015</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Empresa Tiba IT Service</span>
													<span class="job-loc"> Instalador e Implementador de Sistemas.</span>
                                                    <p class="job-summary p-small"> Las actividades que me desempeñe fueron realizar configuración de los servidores en modo local, instalación de cableado
													de la red, configuración de las comandas de punto de ventas, así como asesoramiento al personal dentro del restaurante
													sobre el sistema. Atención al cliente en sitio, teniendo presencia en los restaurantes VIPS dando seguimiento, solución
													y cierre de reportes.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.4s">
												<div class="col-sm-3 duration"><span>2012 – 2013</span></div>
												<div class="col-sm-9">
													<span class="job-desn">CONSISHO Consultoria de Sistemas para la Hospitalidad</span>
													<span class="job-loc">Soporte técnico / Servicio al cliente.</span>
													<p class="job-summary p-small"> Dentro de las actividades en las cuales me desempeñe fue en la instalación y administración de servidores. Asistencia
													remota. Seguimiento, solución y cierre de tickes, procure y verifique las condiciones de los equipos para un mejor
													funcionamiento. Pruebas y desarrollo de los sistemas dentro de su misma plataforma, desarrollo de reportes.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
												<div class="col-sm-3 duration"><span>Oct 2011 – Jan 2013</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Intern Developer
													</span>
													<span class="job-loc">Oxwalk Ducks, California
													</span>
													<p class="job-summary p-small">Create frameworks to guide critical thinking, to streamline the ideation process and to visualize complex concepts. Uses various graphic approaches to make complex ideas more tangible.</p>
												</div>
											</div>
										</div>
									</div>
								</div>-->
							</div>
						</section>
						<!--/Experience Sec-->

						<hr class="separater-hr"/>

						<!--Client Sec-->
						<section id="client_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div client-wrap  sec-pad wow bounceIn" data-wow-duration=".4s">
							<h6>Con quien he trabajado</h6>
							<div class="client-carousel">
								<img src="img/consisho.png" alt="clientes">
								<img src="img/tiba.png" alt="clientes">
								<img src="img/alsea.png" alt="clientes">
								<img src="img/seice_ht.png" alt="clientes">
								<!--<img src="img/client5.png" alt="client">
								<img src="img/client2.png" alt="client">-->
							</div>
						</section>
						<!--/Client Sec-->

						<hr class="separater-hr"/>

						<!--Achivement Sec-->
						<section id="achivement_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div achivement-wrap  sec-pad-top sec-pad-bottom-sm">
							<h6>Logros</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">Gracias a mi esfuerzo y dedicación he tenido pocos logos a lo largo de mi carrera, pero muy valiosos que me han cambiado la forma para desarrollarme en lo que más me gusta que los conocimientos tecnológicos.</p>
							<div class="achivement-list-wrap margin-top-40">
								<ul class="row">
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s">
												<span class="dash-pointer">-</span>
												<span class="achive-pts">Mexico Mobility to Malaysia Programme (MM2M100) </span>
											</li>
											<!--<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".2s"><span class="dash-pointer">-</span><span class="achive-pts">Honorable Mention at International Design Awards</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">AICB New York, USA</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">International CNDY Awards New York, USA</span></li>-->
										</ul>
									</li>
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s"><span class="dash-pointer">-</span><span class="achive-pts">Pepsico Sistema DC One, Capacitación y Curso (Republica Dominicana)</span></li>
											<!--<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.2s"><span class="dash-pointer">-</span><span class="achive-pts">A&AD Awards (Yellow & Black Pencils) London, UK</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">Global Dffie Awards New York, USA</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">The Intercontinental Advertising Award (The Cup) (ICAA) Spain</span></li>-->
										</ul>
									</li>
								</ul>
							</div>
						</section>
						<!--/Achivement Sec-->

						<hr class="separater-hr"/>

						<!--Contact Sec-->
						<section id="contact_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap sec-pad">
							<h6>Contacto</h6>
							<div data-ng-controller="ContactController" class="align-center wow fadeInUp" data-wow-duration=".4s">
								<h3> Hola <span  data-ng-bind="formData.inputName||'Amigo'"></span>, ¿Cómo puedo ayudarte hoy?</h3>
								<div>
									<form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class="row form-horizontal" role="form">
										<div class="form-group input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Nombre" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>
										</div>
										<div class="form-group  input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group  input--hoshi col-sm-12" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="Cuentame" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group col-sm-12">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
												<span class="mask"></span>
												<span>Enviar mensaje</span>
												</button>
											</div>
										</div>
									</form>
									<p data-ng-class="result">{{ resultMessage }}</p>
								</div>
							</div>
							<div class="email-direct">
								<p class="wow fadeInRight" data-wow-duration=".4s">O simplemente envíeme un E-mail a <a href="jaribsoriano.dev@gmail.com">jaribsoriano.dev@gmail.com</a></p>
							</div>
						</section>
						<!--Contact Sec-->

						<hr class="separater-hr"/>

						<!--Footer-->
						<footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
							<div class="row">
								<div class="col-sm-6 available-wrap">
									<span class="available-pointer"></span>
									<span class="available-tag">Disponible para proyectos.</span>
								</div>
								<div class="col-sm-6">
									<div class="social-icons-wrap float-right">

										<!--Social Icons-->
										<ul class="social-icons float-right">
											<!--<li>
												<a href="#" class="social-icon">
												<span class="fa" data-hover="&#xf09a;">&#xf09a;</span>
												</a>
											</li>-->
											<li>
												<a href="#" class="social-icon">
												<span class="fa" data-hover="&#xf099;">&#xf099;</span>
												</a>
											</li>
											<li>
												<a href="#" class="social-icon">
												<span class="fa" data-hover="&#xf08c;">&#xf08c;</span>
												</a>
											</li>
											<li>
												<a href="#" class="social-icon">
												<span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
												</a>
											</li>
										</ul>
									</div>
									<div class="goto-top text-right float-right">
										<a data-scroll href="#body">
										<span data-hover="top">
										Arriba
										</span>
										</a>
									</div>
									<div class="copywrite-wrap text-right float-right">
										<p class="copywrite">Hecho a mano por <b> @iamjarib &copy; 2021.</p>
									</div>
								</div>
							</div>
						</footer>
						<!--/Footer-->
					</div>
					<!--/Main Content-->
				</div>
			</div>
		</div>
		<!-- /Container -->

		<a href="https://wa.me/+525530784679?text=Hola%20me%20encantaría%20trabajar%20contigo%20saludos.%20" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>

		<!-- Scripts -->
		<script src="js/jquery-1.12.4.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/smooth-scroll.js"></script>
		<script src="js/countTo.js"></script>
		<script src="js/jQuery.appear.js"></script>
		<script src="js/isotope.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/lightgallery-all.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/froogaloop2.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>
